<div
  class="fixed inset-0 bg-indigo-950/60 backdrop-blur-sm flex items-center justify-center z-50 font-[Times_New_Roman]"
>
  <div
    class="bg-gradient-to-br from-white via-slate-50 to-indigo-50 p-8 rounded-3xl shadow-2xl w-full max-w-sm text-center border border-indigo-900/30"
  >
    <!-- Mensaje -->
    <p
      class="text-xl mb-6 font-extrabold text-indigo-950 tracking-wide leading-snug"
    >
      {{ mensaje }}
    </p>

    <!-- Botones -->
    <div class="flex justify-center gap-6 mt-4">
      <button
        (click)="aceptar.emit()"
        class="bg-gradient-to-r from-indigo-800 via-indigo-700 to-amber-400 hover:from-indigo-900 hover:via-indigo-800 hover:to-amber-300 text-white px-6 py-2.5 rounded-full font-semibold tracking-wide shadow-md hover:shadow-lg transition-transform duration-200 hover:-translate-y-[1px]"
      >
        Aceptar
      </button>

      <button
        (click)="cerrar.emit()"
        class="bg-white border border-indigo-900/70 text-indigo-950 px-6 py-2.5 rounded-full font-semibold tracking-wide hover:bg-slate-50 shadow-sm hover:shadow-md transition"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
