<div class="fixed inset-0 bg-blue-950/60 flex items-center justify-center z-50 font-[Times_New_Roman]">
  <div class="bg-white p-8 rounded-2xl shadow-2xl w-full max-w-lg border border-blue-900/40">

    <!-- TÍTULO -->
    <h3 class="text-2xl font-bold text-blue-900 mb-6 tracking-wide text-center border-b-2 border-blue-800/30 pb-3">
      {{ modoEdicion ? 'Modificar Inscripción' : 'Adicionar Nueva Inscripción' }}
      <span class="text-gray-500 font-medium ml-2">(Gestión: {{ gestion }})</span>
    </h3>

    <!-- FORMULARIO -->
    <div class="space-y-5">

      <!-- NIVEL - MATERIA - PARALELO -->
      <div>
        <label class="block text-left text-sm font-semibold text-blue-900/80 mb-1">
          Nivel - Materia - Paralelo:
        </label>

        <select
          [(ngModel)]="codMapaSeleccionado"
          class="w-full px-4 py-2 border border-blue-800/40 rounded-lg shadow-sm
                 focus:ring-2 focus:ring-blue-900 focus:outline-none bg-white"
        >
          <option value="0" disabled>-- Seleccione --</option>

          <option *ngFor="let mapa of listaMapas" 
                  [value]="mapa.id.codmat + '|' + mapa.id.codpar">
            ({{ mapa.materia.nivel.nombre }})
            - {{ mapa.materia.nombre }}
            - [{{ mapa.paralelo.nombre }}]
          </option>
        </select>
      </div>

      <!-- ALUMNO -->
      <div>
        <label class="block text-left text-sm font-semibold text-blue-900/80 mb-1">
          Alumno:
        </label>

        <select
          [(ngModel)]="codpSeleccionado"
          class="w-full px-4 py-2 border border-blue-800/40 rounded-lg shadow-sm
                 focus:ring-2 focus:ring-blue-900 focus:outline-none bg-white"
        >
          <option [value]="0" disabled>-- Seleccione Alumno --</option>

          <option *ngFor="let a of listaEstudiantes" [value]="a.codp">
            {{ a.ap }} {{ a.am }} {{ a.nombre }}
          </option>
        </select>
      </div>

    </div>

    <!-- BOTONES -->
    <div class="flex justify-center gap-6 mt-10">

      <!-- GUARDAR / MODIFICAR -->
      <button
        (click)="onGuardar()"
        [disabled]="codpSeleccionado === 0 || codMapaSeleccionado === '0'"
        class="bg-blue-900 hover:bg-blue-800 text-white px-6 py-2.5 rounded-lg
               font-semibold tracking-wide shadow-md hover:shadow-lg transition disabled:bg-gray-400"
      >
        {{ modoEdicion ? 'Modificar' : 'Guardar' }}
      </button>

      <!-- CANCELAR -->
      <button
        (click)="cerrar.emit()"
        class="bg-white border border-blue-900 text-blue-900 px-6 py-2.5 rounded-lg
               font-semibold tracking-wide hover:bg-blue-50 shadow-sm hover:shadow-md transition"
      >
        Cancelar
      </button>
    </div>

  </div>
</div>
